Repository biaw/website, changes with the labels that .github/labeler.yml gives for each.
All labels: content, frontend, backend

Fix build
  src/pages/index.tsx
Labels: frontend

Add missing css
  src/pages/index.module.css
Labels: frontend

Add link to blog
  docusaurus.config.js
Labels: none

Add meta section (information section)
  content/meta/00-introduction.md
  docusaurus.config.js
  package-lock.json
  package.json
Labels: content

Add redirects
  static/_redirects
Labels: frontend

Add TLive sponsor to footer
  docusaurus.config.js
Labels: none

Update blog post about new website woo
  content/blog/2022-12-09-new-website.md
Labels: content

Fix favicon
  docusaurus.config.js
Labels: none

Fix favicon (#2)
  docusaurus.config.js
Labels: none

New blog post
  content/blog/2022-12-25-new-server.md
Labels: content

Fix other blog post
  content/blog/2022-12-09-new-website.md
Labels: content

New blog post: new server (#10)
  content/blog/2022-12-09-new-website.md
  content/blog/2022-12-25-new-server.md
Labels: content

.github/labeler.yml:

# biaw/website

content:
- "content/*/*"
- "content/*/**/*"

frontend:
- "src/*"
- "src/**/*"
- "static/*"
- "static/**/*"

backend:
- "functions/*"
- "functions/**/*"
